* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body{
    scroll-behavior: smooth;
    animation: fade 1s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.covidTxt {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 29, 29);
}

.covidTxt p {
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}

.covidTxt p:hover {
    color: #fff;
}
/* ---------------Cart---------------- */
.hr-cart{
    border: 0.5px solid #eeeeee;
    width: 85%;
}
.big-cart{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #393E46; /* Black w/ opacity */
    /* border: 2px solid  red; */
}
.c-2{
    right: -100%;
    position: fixed;
    z-index: 10;
    background-color: #393E46;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    transition: 1s;
    transition: 1s;
}
.cart{
    right: -1000px;
    position: fixed;
    background-color: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
}
.head-cart{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
}
.head-cart,.detail-cart,.sub-cart{
    width: 85%;
}
#mid{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 85%;
    height: 55%;
    /* border: 2px solid black; */
    align-items: center;
}
.detail-cart{
    width: 100%;
    display: flex;
    border-bottom: 2px solid #eeeeee;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

}
.left-cart{
    width: 30%;
    height: 100%;
    /* border: 1px solid blue; */
}
.img-add{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}
.img-add img{
    width: 100%;
    height: auto;
    /* border: 2px solid blue; */
}
.right-cart{
    width: 68%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-left: auto;

}

.detail-add-cart{

    position: relative;
    height: auto;
    width: 100%;
    /* border: 2px solid red; */
}
.price-cart-b{
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.number-cart{
    /* border: 2px solid blueviolet; */
    position: relative;
    display: flex;
    width: 46%;
}
#price-cart{
    position: relative;
    font-size: 15px;
}

.plux,.min {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid gray;
    width: 20%;
    height: 4vh;

}
.num2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 1px solid gray;
    height: 4vh;
    font-size: 20px;
    background-color: white;
}
.sub-total{
    display: flex;
    justify-content: space-between;
}
.checkout{
    width: 100%;
    height: 4vh;
    font-size: 20px;
    /* font-weight: bold; */
    background-color: black;
    color: white;
    border: none;
}
/* ---------------animate-cart--------------- */
.animate-cart{
    animation: move 1s forwards;
}
@keyframes move{
    100%{
        right: 0;

    }

}
.go-left{
    transition: 1s;
    animation: to-left 0.5s forwards;
}
@keyframes to-left{
    0%{
        opacity: 0;
    }
    100%{
        right:0%;
    }
}
.move-out-right{
    animation: move-out-r 1s;
}
@keyframes move-out-r{
    0%{
        right: 0;
    }
    100%{
        right: -30%;
        transition: 1s;
    }
}
.move-out-left{
    animation: move-out-l 1s;
}
@keyframes move-out-l{
    0%{
        opacity: 0;
        right: 0;
    }
    100%{
        left: -70%;
        opacity: 0;
        transition: 1s;
    }
}
/*---------------product--------------- */
.b-box {
    width: 100%;
    height: 980px;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    position: relative;
}

.pic {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 0;
    width: 50%;
    position: relative;
    /* border: 1px solid green; */
    height: 600px;
    justify-content: space-between;
}

.li {
    margin-left: 35%;
    list-style: none;
    width: 10%;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.d {
    border: 2px solid white;
}
/* li:hover ul{
    display: flex;
} */
.active{
    border: 2px solid black;
}

.d img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

ul {
    width: 500px;
    height: 500px;
    /* border: 1px solid red; */

}

ul img {
    width: 100%;
    height: 100%;
}

.detail {
    position: relative;
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
}

.btn-ver {
    /* justify-content: space-around; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.click {
    background-color: white;
}

label.click {
    padding: 0;
}

label.click input {
    opacity: 0;
    position: absolute;
}

label.click span {
    padding: 10px;
    display: block;
    border: 2px solid #F2F2F1;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

label.click input:checked+span {
    border: 2px solid black;
    background-color: rgba(234, 237, 236,0.5);

}

/* -------------------------------- */
.minus,
.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid gray;
    width: 20%;
    height: 4vh;

}
.quan {
    text-align: center;
    width: 70%;
    border: 1px solid gray;
    height: 4vh;
    font-size: 20px;
}
.number {
/*     border: 2px solid red; */
    position: relative;
    width: 12%;
    display: flex;
    text-align: center;
    align-items: center;
}
/* -------------------------------- */
.sold {
    z-index: 1000;
    background-color: white;
    color: #000;    
    margin-top: 20px;
    margin-bottom: 10px;
    width: 65%;
    height: 55px;
    border: 2px solid #ACAEAD;
}

.sold:hover {
    border: 1px solid black;
}

.sold:focus{
    background-color: black;
    color: white;
}
.sold:visited{
    background-color: white;
    color: black;
}
.noti {
    width: 90%;
    position: relative;
    left: 5%;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: black;
    margin-bottom: 40px;
}

/* --------------video------------------ */
.block-2{
    background-color: black;
    color:white;
    position: relative;
    height: 1120px;
    text-align: center;
    /* border: 5px solid green; */
}
.detail-video {
    margin-top: 25px;
    font-size: 50px;
}
/* --------------block3------------------ */
.block-3{
    margin-top: 45px;
    font-size: 25px;
    text-align: center;
    position: relative;
    /* border: 5px solid red; */
}
.inbox-3{
    margin-top: 60px;
}
.hot-swap{
    left: 12%;
    position: relative;
    /* border: 2px solid blue; */
    width: 76%;
    height: 1150px;
    margin-top: 90px;
}
.swap-left{
    top: 60px;
    position: absolute;
    left: 0;
    width: 55%;
}
.swap-pic{
    width: 100%;
}
.swap-right{
    top: 20px;
    width: 42%;
    text-align: justify;
    /* border: 2px solid red; */
    position: absolute;
    right: 0;
}

.pic-video{
    position: absolute;
    top: 520px;
    width: 100%;
}
#p1{
    margin-top: 10px;
    width: 76%;
}
#p2{
    margin-top: 60px;
    width: 55%;
}
#p3{
    width: 35%;
}
#change-1{
    top:540px;
}
.pic-right{
    right: 50px;
    position: absolute;
    width: 55%;
}
.text-left{
    width: 32%;
    text-align: justify;
    /* border: 2px solid red; */
    position: absolute;
    left: 50px;
}
#hot-2{
    margin-top: 80px;
    height: 950px;
}
#hot-3{
    text-align: center;
    height: 1880px;
}
#hot-4{
    height: 1560px;
    text-align: center;
}
#hot-5{
    margin-top: 25px;
    height: 950px;
    text-align: center;
}
#hot-6{
    left: 195px;
    width: 74%;
    height: 400px;
    margin-top: 60px;
}
.ver1{
    width: 500px;
    left: 10%;
    position: absolute;
    margin-top: 0%;
    height: 272px;
}
.ver2{
    width: 500px;
    height: auto;
    right: 15%;
    position: absolute;
    margin-top: 0%;
}
#compare{
    top: 320px;
    position: absolute;
    left: 38%;
}
#change-2{
    top: 450px;
    width: 42%;
}
#layout{
    top: 460px;
}
#change-3{
    top: 910px;
    width: 57%;
    right: 0;
}
.text-left-2{
    top:970px;
    width: 40%;
    left: 0;
    position: absolute;
    text-align: justify;
    /* border: 2px solid red; */
}
#bat-1{
    height: 220px;
    top: 1525px;
}
#bat-2{
    top: 1505px;
    height: 309px;
    width: 480px;
}
.pic-video-3{
    position: absolute;
    top: 0;
    width: 100%;
}
#rgb{
    position: relative;
    top: 600px;
    text-align: justify;
}
#vid-4{
    top: 910px;
}
#idb{
    position: relative;
    width:200px;
    height: 200px;
}
#apple{
    top: 120px;
    width: 500px;
    position: relative;
}
#mac{
    position: relative;
    width: 100%;
    top: 200px;
}
#android{
    position: relative;
    top: 50px;
}
#android-text{
    position: relative;
    top: 50px;
}
.left{
    top: 0%;
    position: absolute;
    left: 0%;
    /* border: 2px solid red; */
    width: 45%;
    height: 800px;
    text-align: center;
}
.right{
    top: 0%;
    position: absolute;
    right: 0%;
    /* border: 2px solid black; */
    width: 45%;
    height: 800px;
    text-align: center;
}
#text-bottom{
    font-size: 40px;
    position: relative;
    top: 800px;
}
.new{
    background-color: black;
    position: relative;
    top: 850px;
}
/* #table-1{
    font
} */
.table-header{
    font-size: 20px;
    text-align: justify;
}
.table-text{
    text-align: justify;
    font-size: 15px;
}
#text-bat{
    position: relative;
    top: 1735px;
    text-align: justify;
}
#star{
    color: #F3EF57;
}
iframe{
    border: none;
}





/* nav start here */

.nav-container {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.keyboards,
.slimKeyboards,
.accessories,
.switch,
.blog {
    margin: 1em;
}
.keyboards ul,
.slimKeyboards ul,
.accessories ul,
.switch ul,
.blog ul {
    position: absolute;
    background-color: #fff;
    margin-top: 20px;
    padding: 0;
    width: 200px;
    height: 200px;
    z-index: 12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    left: 0;
    top: 70%;
}

.keyboards li,
.slimKeyboards li,
.accessories li,
.switch li,
.blog li {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboards li:hover,
.slimKeyboards li:hover,
.accessories li:hover,
.switch li:hover,
.blog li:hover {
    background-color: rgb(228, 228, 228);
    opacity: 1;
    pointer-events: all;
}

.keyboards a,
.slimKeyboards a,
.accessories a,
.switch a,
.blog a {
    color: black;
    text-decoration: none;
    z-index: 100;
}

.keyboards a:hover,
.slimKeyboards a:hover,
.accessories a:hover,
.switch a:hover,
.blog a:hover {
    color: black;
    text-decoration: none;
    z-index: 100;
}
.keyboards,
.slimKeyboards,
.accessories,
.switch,
.blog {
    position: relative;
}

.nav-container button {
    background: none;
    border: none;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
    outline: none;
}

.nav-container button:hover {
    color: rgb(100, 99, 99);
    border-bottom: 0.05px solid rgb(90, 90, 90);
    transform: scale(1.1);
}

.keyboards button:focus+ul,
.slimKeyboards button:hover+ul,
.accessories button:hover+ul,
.switch button:hover+ul,
.blog button:hover+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.icons a {
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(28, 29, 29);
}

.icons i:hover {
    transform: scale(1.25);
    color: rgb(54, 54, 54);
}

.icons a:hover {
    transform: scale(1.25);
    color: rgb(54, 54, 54);
}

.logo img {
    width: 200px;
    height: 200px;
}

.logo img:hover {
    transform: scale(1.1);
}

.buy a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    z-index: 1000;
}

.buy a:hover {
    color: rgb(100, 99, 99);
}


/* nav end here */

.kan {
    width: 100%;
    height: 35.5px;
    position: relative;
}

.kan hr {
    opacity: 0.5;
}


/* footer start here */
#footer {
    background-color: rgb(238, 235, 235);
    color: #000;
    position: relative;
    width: 100%;
    height: 60vh;
    /* border: 13px solid blue; */
    overflow: hidden;
}

#footer .footer-content{
    display: flex;
    margin:auto;
    width: 60%;
    padding: 50px 0;
    /* border: 2px solid black; */
    justify-content: space-around;
}

#footer .footer-content .footer-menu{
    margin: 0 15px;
    list-style: none;
    justify-content: center;
    position: relative;
    /* border: 3px solid green; */
    flex-direction: column;
}


#footer .footer-content .footer-menu .footer-menu-item{
    margin: 10px 0;
    cursor: pointer;
    transition: all 300ms ease;
    /* position: relative; */
    /* border: 3px solid orange; */
    width: 100%;
}



#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: rgb(71, 71, 71);
}
#footer .footer-content .footer-menu .txt-footer{
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 1.1rem;
    letter-spacing: 2px;
    width: 300px;
}

.input-email {
    width: 250px;
    height: 35px;
    border: 0.5px solid rgb(54, 54, 54);
    background-color: rgb(238, 235, 235);
    padding: 10px;
}

/* footer-social */
.socials{
    display: flex;
    /* border: 2px solid gold; */
    /* width: 300px; */
}
.socials i {
    margin: 0 15px;
    font-size: 1.55rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.socials i:hover {
    color: rgb(71, 71, 71);
    transform: scale(1.05);
}

/* footer-info*/
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: rgb(36, 35, 35);
    font-size: 0.8rem;
    /* position: relative; */


}

.footer-info .footer-info-items{
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    position: relative;
}


.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms ease;
}
.footer-info .footer-info-items .footer-info-item:hover{
    color: rgb(102, 101, 101);
}

/* .footer-info .rights{
} */

.footer-info .rights .country{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: center;
}
.footer-info .rights .country li{
    list-style: none;
    margin-left: 20px;
}
.footer-info .rights .country li:hover{
    cursor: pointer;
}



.footer-info .rights .country .thailand-flag{
    height: 20px;
    width: 100%;
    display: inline-block;
    margin-left: 10px;
}
/* footer end here */

.legal-footer {
    pointer-events: none;
    display: flex;
    justify-content: center;
}
.legal-foot {
    position: absolute;
    bottom: 0;
    transform: scale(0.8);
}

.footer-menu a {
    color:#000;
}

.footer-menu a:hover {
    text-decoration: none;
}
